.Container{
    .cuello{
        margin-top: 200px;
        h3{
            font-family:'Archivo', sans-serif;
            font-size: 5vw;
            margin-bottom: 28px;
            color: #ffffff26;
        }
    }
}

