h5{
    font-family: 'Vina Sans', cursive;
    font-size: 2rem;
    margin: 10px;
}
.Placa{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
    .card {
        margin: 10px 3rem 20px 3rem;
        width: calc(24% - 10px);
        height: 11rem;
        border-radius: 20px;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
        img{
            width: 100%;
            height: 100%;
            border-radius: 15px;
        }
        .textB{
            margin: 20px;
        }
        h1{
            font-family:'Quicksand', sans-serif;
            font-size: 1.2rem;
        }
    }
    .card__content {
        background: rgb(5, 6, 45);
        border-radius: 17px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}
.cardRespuesta {
    display: flex;
    width: 42rem;
    height: 34rem;
    border-radius: 30px;
    background: #17294c;
    box-shadow: 15px 15px 30px rgb(1 1 12 / 69%), -15px -15px 30px rgb(0 0 0 / 44%);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem;
    margin-top: 6rem;
}
.adelanteAtras{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 30px;
    
    .atras{
        display: flex;
        height: 3em;
        width: 12rem;
        align-items: center;
        justify-content: center;
        background-color: #eeeeee4b;
        border-radius: 10px;
        transition: all 0.2s linear;
        cursor: pointer;
        border: none;
        background: #1a2944;
        color: #fff;
    }
    .atras .atrasI {
        margin-right: 5px;
        margin-left: 5px;
        font-size: 20px;
        transition: all 0.4s ease-in;
    }
    .atras:hover  .atrasI {
        font-size: 1.2em;
        transform: translateX(-5px);
    }
    .atras:hover {
        box-shadow: 9px 9px 33px #0f11139d, -9px -9px 33px #0f11139d;
        transform: translateY(-2px);
    }
    .adelante{
        display: flex;
        height: 3em;
        width: 12rem;
        align-items: center;
        justify-content: center;
        background-color: #eeeeee4b;
        border-radius: 10px;
        transition: all 0.2s linear;
        cursor: pointer;
        border: none;
        background: #1a2944;
        color: #fff;
    }
    .adelante .adelanteI {
        margin-right: 5px;
        margin-left: 5px;
        font-size: 20px;
        transition: all 0.4s ease-in;
    }
    .adelante:hover  .adelanteI {
        font-size: 1.2em;
        transform: translateX(5px);
    }
    .adelante:hover {
        box-shadow: 9px 9px 33px #0f11139d, -9px -9px 33px #0f11139d;
        transform: translateY(-2px);
    }
}

a{
    text-decoration: none;
    color: #FFF;
    color: var(#979494);
}
li{
    list-style: none;
    margin: 2rem;
    text-align: center;
    justify-content: center;
}

.volverEntrar{
    button {
        position: relative;
        padding: 0.3em 2.8em;
        outline: none;
        border: 1px solid #1c1a1a;
        background: #17294c;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 15px;
        overflow: hidden;
        transition: 0.2s;
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;
   }
   
   button:hover {
    box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
    transition-delay: 0.6s;
   }
   
   button span {
    position: absolute;
   }
   
   button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ae00ff);
   }
   
   button:hover span:nth-child(1) {
    left: 100%;
    transition: 0.7s;
   }
   
   button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #001eff);
   }
   
   button:hover span:nth-child(3) {
    right: 100%;
    transition: 0.7s;
    transition-delay: 0.35s;
   }
   
   button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ae00ff);
   }
   
   button:hover span:nth-child(2) {
    top: 100%;
    transition: 0.7s;
    transition-delay: 0.17s;
   }
   
   button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #001eff);
   }
   
   button:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.7s;
    transition-delay: 0.52s;
   }
   
   button:active {
    background: #ae00af;
    background: linear-gradient(to top right, #ae00af, #001eff);
    color: #bfbfbf;
    box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
    transition: 0.1s;
   }
   
   button:active span:nth-child(1) 
   span:nth-child(2) 
   span:nth-child(2) 
   span:nth-child(2) {
    transition: none;
    transition-delay: none;
   }
}

.volver{
    display: flex;
    flex-direction: column;
    button{
        width: 244px;
        height: 52px;
    }
}


.placa, .cardRespuesta{
    margin-top: 210px;
}