.Footer{
    margin: 0;
    background: -webkit-linear-gradient(top,#083083 2% ,#212529);
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    p{
        margin: 0;
        color: rgb(100, 100, 100);
    }
    p, a{
        margin-top: 95px;
    }
}

h2{
    color: white;
}