.Container{
    min-height: 100vh;
    background: -webkit-linear-gradient(top,rgb(33 37 41) 1% , #083083 );
    text-align: center;
    color: #f5f5f5;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .inicio{
        margin-bottom: 210px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .inicioIzq{
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 6rem;
    }
    .inicioDer{
        width: 50%;
    }

@media (max-width: 1500px) and (min-width: 900px) {
    .categorias{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .cards{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            align-items: center;
            justify-items: stretch;
            margin: 0 5% 0 5%;
            img{
                width: 100%;
            }
            .content-show{
                display: flex;
                flex-wrap: wrap;
                width: 23vw;
                // gap: 10px;
            }
            .content-show div{
                position: relative;
                width: 25rem;
                border-radius: 4px;
                overflow: hidden;
            }
            .content-show div:hover img{
                transform: scale(1.15);
            }

            .content-show div img{
                object-fit: cover;
                height: 100%;
                width: 100%;
                transition: 0.3s ease;
            }
            .content-show div .name{
                position: absolute;
                width: 100%;
                bottom: 10px;
                color: #fff;
                transform: translateY(50px);
                padding: 10px;
                z-index: 10;
                transition: .3s ease;
                cursor: default;
            }
            .content-show div:hover .name{
                transform: translateY(0);
            }
            .content-show div:hover .title-box{
                content: "";
                height: 100px;
                position: absolute;
                transform: translateY(0);
                transition: background 2s ease;
                left: 0;
                bottom: 0;
                background: linear-gradient(to bottom, rgba(0,0,0,0), black);
                width: 100%;
                z-index: 1;
            }
            .content-show div:hover .title-box:hover::after {
                opacity: 1;
            }
        }
    }
    .placa{
        .Placa{
            .card{
                width: 20rem;
                height: 11rem;
            }
        }
    }

}

@media (min-width: 1501px) {
    .categorias{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        align-content: center;
        img{
            flex-basis: 50%;
        }
        .cards{
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            .content-show{
                display: flex;
                flex-wrap: wrap;
                width: 23vw;
            }
            .content-show div{
                position: relative;
                width: 25rem;
                border-radius: 4px;
                overflow: hidden;
            }
            .content-show div:hover img{
                transform: scale(1.15);
            }

            .content-show div img{
                object-fit: cover;
                height: 100%;
                width: 100%;
                transition: 0.3s ease;
            }
            .content-show div .name{
                position: absolute;
                width: 100%;
                bottom: 10px;
                color: #fff;
                transform: translateY(50px);
                padding: 10px;
                z-index: 10;
                transition: .3s ease;
                cursor: default;
            }
            .content-show div:hover .name{
                transform: translateY(0);
            }
            .content-show div:hover .title-box{
                content: "";
                height: 100px;
                position: absolute;
                transform: translateY(0);
                transition: background 2s ease;
                left: 0;
                bottom: 0;
                background: linear-gradient(to bottom, rgba(0,0,0,0), black);
                width: 100%;
                z-index: 1;
            }
            .content-show div:hover .title-box:hover::after {
                opacity: 1;
            }
        }
    }
}
    h1{
        font-family:  'Archivo', sans-serif;
        text-align: left;
    }
    .tech{
        color: #fff;
        font-size: 1.3rem;
    }
    .view{
        color: #4f87fb;
    }
    h4{
        font-family:'Quicksand', sans-serif;
        font-weight: 100;
        font-size: 1.2rem;
        text-align: left;
    }
    h3{
        font-family:'Archivo', sans-serif;
        font-size: 1.2rem;
        margin-bottom: 28px;
    }
}

@media (max-width: 900px)
    {
        .inicio{
            display: flex;
            flex-direction: column;
            align-items: center;
            .inicioIzq{
                align-items: center;
                padding: 1rem;
                width: 70%;
                margin-top: 10rem;
                h4, h1{
                    text-align: center;
                    font-size: 95%;
                    margin: 0;
                }
            }
            .inicioDer{
                width: 90%;
                height: 90%;

            }
        }
        .categorias h3{
            text-align: center;
            font-size: 80%;
            padding: 3rem;
        }
        .cards{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            justify-items: stretch;
            gap: 1vw;
            margin: 0 33px;
            .name{
                list-style-position: inside;
                color: #ffffffa6;
                transform: none;
                padding: 0;
                z-index: 0;
                transition: none;
                cursor: default;
                font-size: 2vw;
                font-weight: bolder;
            }
            img{
                width: 100%;
            }
        }
        .placa{
            .Placa{
                .card{
                    margin: 10px 3rem 20px 3rem;
                    width: 20rem;
                    height: 11rem;
                    border-radius: 20px;
                    /* padding: 1px; */
                    box-shadow: rgb(151 65 252 / 20%) 0 15px 30px -5px;
                    background-image: linear-gradient(
                    144deg, #AF40FF, #5B42F3 50%, #00DDEB);
                }
            }
        }
        .cardRespuesta{
            width: 80%;
            height: 100%;
        }
        .nav{
            position: absolute;
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 2rem;
            z-index: 1;
            margin-top: 32.5rem;
            align-items: center;
            align-content: center;
            a {
                position: relative;
                transition: transform 0.3s;
                cursor: pointer;
                color: white;
                &:hover {
                  transform: scale(1.1);
                  color: white;
                }
            }
        }
        
    }

@media screen and (max-width: 500px)
    {   
        .navbar{
            display: flex;
            align-items: center;
            width: 100%;
            .buscador{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 19rem;
            }
        }
        .adelanteAtras{
            display: flex;
            flex-direction: column;
        }
    }